<h1>Spaces</h1>

<table>
  <thead>
    <tr>
      <td>Space Type</td>
      <td>Destination</td>
    </tr>
  </thead>
  <tbody>
    <% @spaces.each do |space| %>
      <tr>
        <td><%= space.space_type %></td>
        <td><%= space.destination %></td>
      </tr>
    <% end %>
  </tbody>
</table>