<h1>Games</h1>

<table>
  <thead>
    <tr>
      <td>Game Name</td>
      <td>Players</td>
    </tr>
  </thead>
  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= link_to game.name, action: "show", id: game.id %></td>
        <% game.player_ids.each do |player| %>
          <td><%= player %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>