<h1>Players</h1>

<table>
  <thead>
    <tr>
      <td>Player Name</td>
      <td>Current Position</td>
    </tr>
  </thead>
  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= player.name %></td>
        <td><%= player.position %></td>
      </tr>
    <% end %>
  </tbody>
</table>